---
import Correo from '@/assets/svg/Correo.astro';
import Ubicacion from '@/assets/svg/Ubicacion.astro';
import './footer.css';
---
<footer class="footer__principal">
    <div class="footer__container">
    
      <div class="footer__info">
      <p>© 2025 Iglesia Bautista Nido de Gracia · Todos los derechos reservados</p>
    </div>

    <div class="footer__contacto">
      <p><strong>Contacto:</strong></p>
      <p><Ubicacion aria-label="Ubicación" /> Finca El Nido - Turbana, Bolívar</p>
      <p><Correo aria-label="Correo" /> pastores@nidodegracia.org</p>
    </div>
  </div>
  </footer>