.contacto {
  padding: 50px 30px;
  margin-top: 100px;
  margin-bottom: 80px;
  max-width: 800px;
  margin-inline: auto;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
}

.contacto__informacion {
  text-align: center;
}

.contacto__informacion h3 {
  font-size: var(--font-size-xl);
  margin-bottom: 12px;
  color: var(--color_titulos);
}

.contacto__informacion__texto {
  font-size: var(--font-size-s);
  color: var(--gris_oscuro);
  line-height: 1.6;
  margin-bottom: 30px;
}

/* Formulario */
.formulario {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.formulario__grid :where(input, label) {
  flex-basis: 0;
  flex-grow: 1;
}

.formulario input,
.formulario textarea {
  width: 100%;
  padding: 18px 16px;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  font-size: var(--font-size-s);
  color: #111827;
  background: #f9fafb;
  transition: all 0.2s ease;
  font-family: inherit;
}

.formulario input:focus,
.formulario textarea:focus {
  outline: none;
  border-color: var(--primary-color);
  background: #fff;
  box-shadow: 0 0 0 2px var(--shadow-color);
}
.formulario textarea {
  resize: none;
  min-height: 120px;
}

/* Confirmación */
.formulario__confirmacion {
  color: green;
  font-weight: 500;
  text-align: center;
  height: 10px;
  display: none;
}
/* Botón */
.formulario__btn {
  padding: 14px 0;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: var(--btn-color);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  font-family: inherit;
}
.formulario__btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  background-color: var(--btn-hover);
}

.formulario__btn:active {
  background-color: var(--btn-active);
  transform: translateY(1px);
  box-shadow: none;
}
.formulario__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formulario label {
}

.formulario :where(.error) {
  height: 10px;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 4px;
  margin-left: 5px;
}

@media (width<=580px) {
  .contacto__informacion__texto {
    font-size: var(--font-size-s);
    text-align: left;
    text-wrap: pretty;
  }

  .formulario__grid label {
    flex-basis: auto;
    width: 100%;
  }
}

@media (width<=453px) {
}
