.creencias {
  margin-top: 96px;
}
.creencias__texto {
  background-color: #b4715b;
  color: var(--white-color);
  padding: 20px 50px;
}
.creencias__titulo {
  text-align: center;
  color: var(--white-color);
  font-size: var(--font-size-xl);
}

.creencias__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px auto;
  padding: 10px 50px;
}

.confesion__img {
  width: 230px;
  margin-bottom: 20px;
}

.creencias__item p {
  width: 80%;
  font-size: var(--font-size-s);
  max-width: 800px;
  margin-block: 0.3lh;
}
.creencias__btn {
  padding: 15px 100px;
  border-radius: 8px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-size: var(--font-size-m);
  cursor: pointer;
  text-decoration: none;
  margin-top: 50px;
}

.creencias__btn:hover {
  background-color: var(--btn-hover);
}

.creencias__btn:active {
  background-color: var(--btn-active);
}

@media (width<=850px) {
  body {
    /*Font size*/
    --font-size-xs: 0.9rem;
    --font-size-s: 1rem;
    --font-size-m: 1rem;
    --font-size-l: 1.2rem;
    --font-size-xl: 1.6rem;
    --font-size-xxl: 2rem;

    /*Font weight*/
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --primary-color: #b4715b;
    --color_titulos: #545454;
    --color_texto: #676767;
    --gris_oscuro: #363636;
  }
}

@media (width<=600px) {
  .creencias__item {
    padding: 10px 20px;
  }

  .creencias__item p {
    width: 80%;
  }
}
