.diaconos {
  background: var(--pure-white);
  padding-bottom: 100px;
}

.diaconos__texto {
  background-color: var(--primary-color);
  font-weight: var(--font-weight-bold);
  color: var(--white-color);
  padding: 10px 0;
}

.diaconos__texto p {
  padding: 0 100px;
  font-size: var(--font-size-m);
}

.diaconos__titulo {
  text-align: center;
  color: var(--white-color);
  font-size: var(--font-size-xl);
}

.diaconos__lista {
  margin: 70px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  padding-inline: 30px;
}

.diaconos__item {
  background-color: var(--white-color);
  border-radius: 5px;
  max-width: 450px;
  box-shadow: 0 8px 16px var(--shadow-color);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.diaconos__item:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px var(--shadow-color-hover);
}

.diaconos__img {
  object-fit: cover;
  border-radius: 50%;
  object-position: 0 0;
  width: 100%;
  max-width: 250px;
  max-height: 250px;
  display: block;
  margin: 0 auto;
}

.diaconos__nombre {
  text-align: center;
  color: var(--color_titulos);
  margin: 15px 0;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-semibold);
}

.diaconos__item p {
  font-size: 1rem;
  color: var(--gris-claro);
}
@media (width<=850px) {
  .diaconos__texto {
    padding: 20px 20px;
  }

  .diaconos__texto p {
    padding: 0 20px;
  }
}
