/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/poppins-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/poppins-v23-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/poppins-v23-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/poppins-v23-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Font size*/
  --font-size-xs: 0.9rem;
  --font-size-s: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.45rem;
  --font-size-2l: 1.65rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;
  --font-size-xxxl: 2.5rem;
  --font-size-xxxxl: 7.2rem;

  /*Font weight*/
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /*Colores*/

  --primary-color: #b4715b;
  --white-color: #faf5f2;
  --pure-white: #ffffff;
  --color_titulos: #3b3b3b;
  --color_texto: #363636;
  --gris_oscuro: #363636;
  --gris-claro: #6b6b6b;

  /* Colores de los botones */
  --btn-color: #b4715b;
  --btn-hover: #c18c76;
  --btn-active: #9a5345;

  /* Colores de sombras */

  --shadow-color: #b4715b4a;
  --shadow-color-hover: #b4715b8c;

  /* Tamaños máximos */
  --max-width: 1100px;
}
body,
html {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
p {
  text-wrap: pretty;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

@media (width<=850px) {
  :root {
    /*Font size*/
    --font-size-xs: 0.9rem;
    --font-size-s: 1rem;
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-2l: 1.35rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
  }

  body.show-mobile-menu .navegacion__lista {
    right: 0;
    top: 0;
  }

  body.efecto header::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.3);
  }

  body.efecto .navegacion__logo {
    filter: blur(5px);
  }
}

@media (width<=580px) {
  :root {
    /*Font size*/
    --font-size-xs: 0.8rem;
    --font-size-s: 0.9rem;
    --font-size-m: 1rem;
    --font-size-l: 1.1rem;
    --font-size-xl: 1.4rem;
    --font-size-xxl: 1.6rem;
  }
}

/* ANIMACIONES CSS */

/* ANIMACIONES */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animation {
  transform: translateY(50px);
  scale: 0.8;
  animation: appear ease forwards;
  animation-timeline: view();
  animation-range: entry 15% cover 25%;
}

.animation__iconos {
  transform: translateY(50px);
  scale: 0.8;
  animation: appear ease forwards;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

@view-transition {
  navigation: auto;
}

@keyframes appear {
  to {
    transform: translateY(0);
    scale: 1;
  }
}

@media (width<= 750px) {
  .animation {
    animation-range: entry 10% cover 20%;
  }
}
