.pastores {
  background: var(--pure-white);
  padding-bottom: 100px;
}

.pastores__texto {
  background-color: var(--primary-color);
  font-weight: var(--font-weight-bold);
  color: var(--white-color);
  padding: 10px 0;
}

.pastores__texto p {
  padding: 0 100px;
  font-size: var(--font-size-m);
}

.pastores__titulo {
  text-align: center;
  color: var(--white-color);
  font-size: var(--font-size-xl);
}

.pastores__lista {
  margin: 70px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  padding-inline: 30px;
}

.pastores__item {
  background-color: var(--white-color);
  border-radius: 5px;
  max-width: 450px;
  box-shadow: 0 8px 16px var(--shadow-color);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pastores__item:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px var(--shadow-color-hover);
}

.pastores__img {
  object-fit: cover;
  border-radius: 50%;
  object-position: 0 20%;
  width: 100%;
  max-width: 250px;
  max-height: 250px;
  display: block;
  margin: 0 auto;
  transition: all 0.3s ease;
  animation: fadeInUp 1s ease forwards;
}

.pastores__nombre {
  text-align: center;
  color: var(--color_titulos);
  margin: 15px 0;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-semibold);
}

.pastores__item p {
  font-size: 1rem;
  color: var(--gris-claro);
  line-height: 1.5;
}

@media (width<=850px) {
  .pastores__texto {
    padding: 20px 20px;
  }

  .pastores__texto p {
    padding: 0 20px;
  }
}
