/* ESTILOS DE CATEGORÍAS*/

.categorias {
  padding: 0.1px;
  padding: 64px 50px;
}

.categorias__lista {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  text-align: center;
}

.categorias__lista h3 {
  font-size: var(--font-size-l);
  color: var(--color_titulos);
  margin-bottom: 20px;
}

.categorias__btn {
  margin-top: 20px;
  padding: 15px 0;
  border-radius: 8px;
  border: 2px solid var(--btn-color);
  background-color: var(--btn-color);
  color: var(--pure-white);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  display: block;
  text-decoration: none;
  margin-top: 18px;
  transition: 0.4s ease;
}
.categorias__btn:hover {
  background-color: var(--pure-white);
  color: var(--btn-color);
}

.categorias__btn:active {
  background-color: var(--btn-active);
}

.categorias__btn--seminario {
  display: block;
  background-color: var(--pure-white);
  color: var(--btn-color);
  font-weight: var(--font-weight-semibold);
  border: 2px solid var(--btn-color);
  padding: 15px 0;
  transition: 0.4s ease;
}

.categorias__btn--seminario:hover {
  background-color: var(--btn-color);
  color: var(--pure-white);
}
.categorias__card {
  max-width: 320px;
}

.categorias__img-container {
  overflow: hidden;
  display: block;
  box-shadow: 0 1px 5px var(--color_titulos);
}

.categorias__img-container:hover :where(.categorias__img) {
  transform: scale(1.12) translateY(-5px);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--primary-color); */
}
.categorias__img {
  aspect-ratio: 1;
  object-position: 50% 36%;
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 1px 5px var(--color_titulos);
  transition: transform 0.6s ease;
  height: 100%;
  display: block;
}

@media (width<= 750px) {
  .animation {
    animation-range: entry 0 cover 2%;
  }
}


