/*INFORMACIÓN GENERAL*/

.informacion-general {
  background-color: var(--white-color);
  padding: 64px 50px;
}

.informacion-general__titulo {
  text-align: center;
  color: var(--color_titulos);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

.informacion-general__container {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 90px;
  justify-content: center;
}

.informacion-general__direccion {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--color_titulos);
  align-items: start;
  justify-content: center;
}

.informacion-general__direccion p {
  color: var(--color_texto);
}

.informacion-general__direccion h3 {
  font-size: var(--font-size-l);
  margin: 15px 0;
  color: var(--color_titulos);
  align-self: center;
}

.informacion-general__direccion figure {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

.informacion-general__direccion p {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semibold);
}

.informacion-general__ubicacion h3 {
  color: var(--color_titulos);
  text-align: center;
  margin-bottom: 15px;
  font-size: var(--font-size-l);
}

.informacion-general__ubicacion {
  text-align: center;
  width: 35%;
  min-width: 370px;
}

.informacion-general__google-maps {
  aspect-ratio: 16/9;
  max-width: 600px;
  width: 90%;
  min-width: 300px;
  box-shadow: 0 2px 5px var(--gris_oscuro);
  margin-inline: auto;
}

.informacion-general__iconos {
  width: 45px;
}

span {
  font-weight: var(--font-weight-semibold);
  color: var(--color_titulos);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-normal);
}
