---
import Layout from "../layouts/Layout.astro"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
const currentPath = Astro.url.pathname;

---

<script type="module">
  const formulario = document.querySelector(".formulario");
const mensajeRespuesta = document.querySelector(".formulario__confirmacion");

formulario.addEventListener("submit", async (e) => {
  e.preventDefault();

 

  const formData = new FormData(formulario);

  try {
    const res = await fetch("https://danilo.com.co/backend/enviar-correo.php", {
      method: "POST",
      body: formData,
    });

    const texto = await res.text();
    mensajeRespuesta.style.display = "block";
    mensajeRespuesta.style.color = "green"
   

  } catch (err) {
    mensajeRespuesta.style.display = "block";
    mensajeRespuesta.style.color = "red"
    mensajeRespuesta.textContent = "❌ Hubo un error al enviar el formulario.";
    console.error("Error al enviar el formulario:", err); // Ayuda para depurar
  }

  document.querySelector(".formulario__nombre").value= "";
  document.querySelector(".formulario__correo").value= "";
  document.querySelector(".formulario__tema").value= "";
  document.querySelector(".formulario_mensaje").value= "";

  setTimeout(() => {
    mensajeRespuesta.style.display = "none";
  },6000);

});
</script>
<Layout>
    <Header validacion ="" seleccion={currentPath} />
    <footer id="contacto" class="footer">
      <section class="footer__informacion">
        <h3>CONTACTANOS</h3>
        <p class="footer__informacion__texto">
          Nos encantaría conocerte y ayudarte en tu caminar con Dios! Si tienes
          alguna pregunta, petición de oración o simplemente deseas hablar con
          alguien, no dudes en comunicarte con nosotros.
        </p>
  
        <article class="footer__informacion__direccion">
          <p>📍 Dirección</p>
          <p>Calle 30 #30-18 Carretera Turbaco-Turbana Bolivar, Colombia</p>
        </article>
  
        <article class="footer__informacion__correo">
          <p>📧 Correo electrónico</p>
          <p>Daniloxym21@gmail.com</p>
        </article>
      </section>
  
      <form class="formulario">
        <input
          name="nombre"
          type="text"
          class="formulario__nombre"
          placeholder="Nombre completo"
          required
        />
        <input
          name="email"
          type="email"
          class="formulario__correo"
          placeholder="Correo electronico"
          required
        />
        <input name ="asunto" type="text" class="formulario__tema" required placeholder="Asunto" />
        <textarea
          class="formulario_mensaje"
          name="mensaje"
          id=""
          required
          placeholder="Mensaje"
        ></textarea>
        <div class="hidden formulario__confirmacion">
          ✅ ¡Tu mensaje fue enviado con éxito! Te responderemos pronto.
        </div>
        <button type= "submit" class="formulario__btn">Enviar</button>
      </form>
    </footer>
    
      
</Layout>


<style>
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
    /*FOOTER*/
    :root {
  /*Font size*/
  --font-size-xs: 0.9rem;
  --font-size-s: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /*Font weight*/
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /*Colores*/

  --primary-color: #b4715b;
  --btn-color: #a35e4e;
  --color_titulos: #3b3b3b;

  --color_texto: #363636;
  --gris_oscuro: #363636;
}

body,
html {
  font-family: "Poppins", serif;
  scroll-behavior: smooth;
  
}
.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 80px;
  margin-top: 75px;
  flex-direction: column;
  align-items: center;

  justify-content: space-around;
  background-color: #faf5f2;
  gap: 20px;
}

.formulario
  :is(
    .formulario__nombre,
    .formulario__correo,
    .formulario__tema
  ){
  font-size: var(--font-size-n);
}

.formulario {
  flex-grow: 1;
}

.formulario__nombre {
  margin-right: 25px;
}
.formulario__correo {
  margin-top: 30px;
}
.formulario__nombre,
.formulario__correo {
  padding: 20px 100px 20px 5px;

  border: 1px solid var(--gris_oscuro);
}
.formulario__tema {
  display: block;
  padding: 20px 0 20px 5px;
  width: 100%;
  margin: 30px 0;
  border: 1px solid var(--gris_oscuro);
}
.formulario_mensaje{
  resize: none;
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  font-size: var(--font-size-m);
}

.formulario_mensaje::placeholder{
  padding-left: 5px;
  font-size: var(--font-size-m);
}
.formulario__confirmacion{
  display: none;
  color: green;
  font-size: var(--font-size-m);
  font-weight:400;
}
.formulario__btn {
  margin-top: 20px;
  padding: 15px 65px;
  color: white;
  font-size: var(--font-size-m);
  border: 2px solid var(--btn-color);
  background-color: var(--btn-color);
  font-weight: var(--font-weight-medium);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.4s ease;
  
}

.formulario__btn:hover {
  background-color: white;
  color: var(--btn-color);
}

.formulario__btn:active {
  background-color: #9a5345;
}

.footer__informacion {
  width: 35%;
  min-width: 250px;
  font-size: var(--font-size-m);
  flex-grow: 1;
}

.footer__informacion h3 {
  font-size: var(--font-size-xxl);
  color: var(--color_titulos);
  margin: 10px;
}

.footer__informacion article {
  margin: 20px 0;
}

.footer__informacion__texto {
  font-size: var(--font-size-m);
  margin-bottom: 15px;
}

.footer__informacion__direccion p:first-child {
  font-weight: var(--font-weight-semibold);
}

.footer__informacion__correo p:first-child {
  font-weight: var(--font-weight-semibold);
}

@media (width<=850px) {
    :root {
      /*Font size*/
      --font-size-xs: 0.9rem;
      --font-size-s: 1rem;
      --font-size-m: 1rem;
      --font-size-l: 1.3rem;
      --font-size-xl: 1.5rem;
      --font-size-xxl: 1.8rem;
    }
  
    .navegacion__lista {
      position: fixed;
      top: 0;
      right: -300px;
      width: 300px;
      height: 100%;
      background-color: #f7f7f7;
      flex-direction: column;
      padding-top: 100px;
      gap: 45px;
      transition: top 0.6s ease, right 0.6s ease;
    }
  
    body.show-mobile-menu .navegacion__lista {
      right: 0;
      top: 0;
    }
  
    body.efecto header::before {
      content: "";
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      backdrop-filter: blur(5px);
      background: rgba(0, 0, 0, 0.3);
    }
  
    body.efecto .navegacion__logo {
      filter: blur(5px);
    }
  
    .navegacion__item {
      height: auto;
    }
  
    .navegacion__bars {
      display: block;
    }
  
    .navegacion__logo {
      width: 60px;
    }
    .navegacion__cerrar {
      width: 16px;
      display: block;
      position: absolute;
      top: 30px;
      right: 30px;
    }
    .submenu {
      position: absolute;
      top: 30px;
      right: -90px;
      background-color: #ffffff;
      width: 290px;
      height: 120px;
      z-index: 1;
      border-radius: 0;
      box-shadow: 0 1px 5px black;
    }
  
    .contenido__img {
    }
  
    .contenido__titulo {
      font-size: var(--font-size-l);
      top: 50px;
      left: 0;
    }
  }
  
  @media (width<=580px) {
    :root {
      /*Font size*/
      --font-size-xs: 0.8rem;
      --font-size-s: 0.9rem;
      --font-size-m: 1rem;
      --font-size-l: 1.1rem;
      --font-size-xl: 1.4rem;
      --font-size-xxl: 1.6rem;
    }
  
    .contenido__titulo {
      font-size: var(--font-size-xs);
      top: 30px;
      left: 0;
    }
    .banner__titulo {
      text-align: center;
    }
    .banner__parrafo {
      text-align: left;
    }
    .footer__informacion__texto {
      font-size: var(--font-size-s);
    }
  
    .formulario__btn {
      margin-inline: auto;
      display: block;
    }
  }
  
  @media (width<=453px) {
    .elemento__texto {
      text-align: left;
    }
  
    .elemento__texto strong {
      text-align: center;
      display: inline-block;
    }
  
    .footer {
      padding: 20px 60px;
    }
    .formulario__nombre,
    .formulario__correo {
      padding: 20px 80px 20px 5px;
  
      border: 1px solid var(--gris_oscuro);
    }
    .formulario__tema {
      padding: 20px 0 20px 5px;
      width: 90%;
    }
    .formulario_mensaje {
      width: 90%;
    }
  }
  </style>