---
import Layout from "../layouts/Layout.astro"
import { Image } from "astro:assets";
import confesion from "../assets/img/confesion.png";
import "../styles/creencias.css";
---


<Layout>
    <section class="creencias">
        <article class="creencias__texto">
            <h1 class="creencias__titulo">Esto creemos - confesión de fe de 1689</h1>
            <!-- <p>Los diáconos tienen el deber de ministrar a los necesitados, a los enfermos, a los que no tienen amigos y a todo aquel que se encuentre en apuros. También tienen el deber de cultivar la gracia de la liberalidad en los miembros de la iglesia y de idear métodos eficaces para recolectar las donaciones del pueblo. También supervisan las actividades de confraternidad y de extensión de toda la iglesia.</p> -->
        </article>
        
  
        <div class="creencias__lista">
            <article class="creencias__item">
                <Image src={confesion} alt="Confesión de Fé" width={230} class="confesion__img" loading="eager"/>
                <p>“Este pequeño tomo no se presenta como una regla autoritativa ni como un código de fe, sino como una ayuda en casos de controversia, una confirmación en la fe y un medio para edificación en justicia. En él los miembros más jóvenes de nuestra iglesia tendrán un conjunto resumido de enseñanzas divinas, y por medio de pruebas bíblicas, estarán preparados para dar razón de la esperanza que hay en ellos. No te avergüences de tu fe; recuerda que es el antiguo evangelio de los mártires, confesores, reformadores y santos. Sobre todo, es la verdad de Dios, contra la que las puertas del infierno no pueden prevalecer. Haz que tu vida adorne tu fe, haz que tu ejemplo adorne tus creencias. Sobre todo, vive en Cristo Jesús, y permanece en él, no creyendo ninguna enseñanza que no haya sido manifiestamente aprobada por él y sea propia del Espíritu Santo. Aférrate a la Palabra de Dios que aquí es explicada para ti.”
                    – Charles Haddon Spurgeon (1834-1892)</p>
                <a download=" Esto creemos - confesión de fe de 1689" class="creencias__btn" href="/confesion.pdf">Descargar</a>
            </article> 
        </div>
    </section> 
</Layout>
