---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import amaury from "@/assets/img/amaury.avif";
import holger from "@/assets/img/holger.jpg";
import silvio from "@/assets/img/silvio.jpg";
import "@/styles/diaconos.css";
---

<Layout title = "Diáconos - Nido de Gracia 🙏" description="Conoce a nuestros diáconos y su labor en la iglesia." url="https://nidodegracia.org/diaconos">
    <section class="diaconos">
        <article class="diaconos__texto">
            <h1 class="diaconos__titulo">Diáconos</h1>
            <!-- <p>Los diáconos tienen el deber de ministrar a los necesitados, a los enfermos, a los que no tienen amigos y a todo aquel que se encuentre en apuros. También tienen el deber de cultivar la gracia de la liberalidad en los miembros de la iglesia y de idear métodos eficaces para recolectar las donaciones del pueblo. También supervisan las actividades de confraternidad y de extensión de toda la iglesia.</p> -->
        </article>
        
    
        <div class="diaconos__lista">
            <article class="diaconos__item">
                <Image src={amaury} alt="Diacono Amaury" width={380} height={380} class="diaconos__img" loading="eager"/>
                <h2 class="diaconos__nombre">Amaury Pajaro</h2>
                <p>Amaury Pajaro fue ordenado diácono en el 2013.
                   En 2019 cursó la Licenciatura en Teología Ministerial como asistente. Está casado con Nerys Muñoz Cervantes desde el 12 de julio del 2014. Tiene 4 hijos y 5 nietos. Le gusta pasar tiempo en familia, cantar y tocar instrumentos musicales.</p>
            </article>
    
            <article class="diaconos__item">
                <Image src={silvio} alt="Diacono Silvio" width={380} height={380} class="diaconos__img" loading="eager"/>
                <h2 class="diaconos__nombre">Silvio Perez</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum rem voluptas velit, iure repudiandae beatae officiis inventore autem aut, vitae nesciunt laboriosam cumque</p>
            </article>
    
    
            <article class="diaconos__item">
                <Image src={holger} alt="Diacono Holger" width={380} height={380} class="diaconos__img" loading="eager"/>
                <h2 class="diaconos__nombre">Holger Ribon</h2>
                <p>Holger Ribon
                fue ordenado diácono en 2024. En 2019 cursó la Licenciatura en Teología Ministerial y en 2025 obtuvo un Diplomado en Teología Confesional.

                Está casado con Elcie Conde desde 2003, con quien tiene 3 hijos y 3 nietos. Le gusta pasar tiempo en familia, jugar videojuegos con su nieto Samuel y practicar inglés.</p>
            </article>
        </div>
    </section> 
</Layout>
