---
import Layout from "@/layouts/Layout.astro";
import Categorias from "@/components/Categorias/Categorias.astro";
import Banner from "@/components/Banner/Banner.astro";
import LocationInfo from "@/components/LocationInfo/LocationInfo.astro";
import Description from "@/components/Description/Description.astro";
import Portada from "@/components/Portada/Portada.astro";
---

<Layout>
<main class="contenido">
    <Portada />
    <Banner />
    <Categorias />
    <LocationInfo />
    <Description />
</main>
</Layout>