---
import Layout from "@/layouts/Layout.astro"
import { Image } from "astro:assets";
import mike from "@/assets/img/mike.avif"
import fabio from "@/assets/img/fabio.avif"
import "@/styles/pastores.css";
---

<Layout title = "Pastores - Nido de Gracia 🙏 " description="Conoce a nuestros pastores y su labor en la iglesia." url="https://nidodegracia.org/pastores">
    <section class="pastores">
        <article class="pastores__texto">
            <h1 class="pastores__titulo"> Conoce nuestros pastores</h1>
            <!-- <p>Los diáconos tienen el deber de ministrar a los necesitados, a los enfermos, a los que no tienen amigos y a todo aquel que se encuentre en apuros. También tienen el deber de cultivar la gracia de la liberalidad en los miembros de la iglesia y de idear métodos eficaces para recolectar las donaciones del pueblo. También supervisan las actividades de confraternidad y de extensión de toda la iglesia.</p> -->
        </article>
        
  
        <div class="pastores__lista">
            <article class="pastores__item">
                <Image src={mike} alt="Pastor Mike" width={380} height={380} class="pastores__img" loading="eager" alt="Pastor Mike" />
                <h2 class="pastores__nombre">Pastor Michael Riffle</h2>
                <p>Michael Riffle fue uno de los misioneros fundadores de la Iglesia Bautista Reformada Nido de Gracia, cuyo primer culto se celebró el 5 de junio de 2011. Fue ordenado como pastor local en 2023 y obtuvo en 2021 una Maestría en Teología Sistemática Reformada.</p>

                <p>Está casado con Stacy desde 2002, tienen cinco hijos y un nieto. Disfruta del tiempo en familia, la música y la construcción.

                Además, es director de la Fundación Gracia Colombia y coordinador de la Facultad Teológica Bautista en Turbana, Bolívar.</p>

            </article>
  
            <article class="pastores__item">
                <Image src={fabio} alt="Pastor Mike" width={380} height={380}
                class="pastores__img" loading="eager" alt="Pastor Fabio" />
               
                <h2 class="pastores__nombre">Pastor Fabio Ledezma</h2>
                <p>Fabio Ledezma fue ordenado como pastor local el 23 de octubre de 2022. En 2024 realizó un diplomado en Teología Confesional. </p>
                    
                <p>Está casado con Emilce Quintero desde 1991; juntos tienen cuatro hijos y dos nietos. Fue recibido como miembro de la iglesia en 2017. En su tiempo libre disfruta pasar tiempo con su familia y realizar actividades en el campo y la agricultura.</p>
            </article>    
        </div>
    </section> 
</Layout>
