---
import Layout from "../layouts/Layout.astro"
import { Image } from "astro:assets";
import mike from "../assets/img/mike.avif"
import fabio from "../assets/img/fabio.avif"
import "../styles/pastores.css";
---

<Layout>
    <section class="diaconos">
        <article class="diaconos__texto">
            <h1 class="diaconos__titulo">Pastores</h1>
            <!-- <p>Los diáconos tienen el deber de ministrar a los necesitados, a los enfermos, a los que no tienen amigos y a todo aquel que se encuentre en apuros. También tienen el deber de cultivar la gracia de la liberalidad en los miembros de la iglesia y de idear métodos eficaces para recolectar las donaciones del pueblo. También supervisan las actividades de confraternidad y de extensión de toda la iglesia.</p> -->
        </article>
        
  
        <div class="diaconos__lista">
            <article class="diaconos__item">
                <Image src={mike} alt="Pastor Mike" width={380} height={380} class="diaconos__img" loading="eager" alt="Pastor Mike" />
                <h2 class="diaconos__nombre">Pastor Michael Riffle</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum rem voluptas velit, iure repudiandae beatae officiis inventore autem aut, vitae nesciunt laboriosam cumque</p>
            </article>
  
            <article class="diaconos__item">
                <Image src={fabio} alt="Pastor Mike" width={380} height={380}
                class="diaconos__img" loading="eager" alt="Pastor Fabio" />
               
                <h2 class="diaconos__nombre">Pastor Fabio Ledezma</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum rem voluptas velit, iure repudiandae beatae officiis inventore autem aut, vitae nesciunt laboriosam cumque</p>
            </article>    
        </div>
    </section> 
</Layout>
