---
import Layout from "@/layouts/Layout.astro"
import "@/styles/predicas.css";
---

<Layout title="Predicas - Nido de Gracia" description="Explora nuestras predicas y mensajes inspiradores en Nido de Gracia. Encuentra enseñanzas bíblicas que fortalecen tu fe y te guían en tu caminar cristiano." url="https://nidodegracia.org/predicas">
     <section class="predicas">
      
        <article class="predicas__texto">
            <h1 class="predicas__titulo">Nuestras predicaciones</h1>
        </article>

        <div class="predicas__lista" id="preaches-container"></div>
        <div class="pagination">
            <span id="page-info"></span>  
        </div>

        <!-- Modal para ver el video -->
  <div class="modal" id="modal">
    <span class="close-btn" id="closeModal">✖</span>
    <iframe id="videoFrame" allow="autoplay; encrypted-media"></iframe>
  </div>
    </section> 
</Layout>

 <script src="../utils/pagination.ts"></script>