---
const {validacion , seleccion} = Astro.props;
import logo from "../../public/img/logo.svg";
import { Image } from "astro:assets";
console.log(seleccion);
---

<header class="navegacion">
    <nav class="navegacion__contenedor">
      <a class="navegacion__link" href="/">
        
        <Image src={logo} alt="Logo de la iglesia" width={85} height={85} class="navegacion__logo" loading="eager" />
      </a>

      <ul class="navegacion__lista">
        <svg
          class="navegacion__cerrar"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 384 512"
        >
          <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
          <path
            d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"
          />
        </svg>
        <li class="navegacion__item"><a  class=`navegacion__link ${seleccion === '/' ? 'navegacion__link--active' : ''}` href="/">INICIO</a></li>
        <!-- Submenu -->
        <li class="navegacion__item navegacion__item--posicion">
          <a class=`navegacion__link ${(seleccion === '/pastores') || (seleccion === '/deaconos') || (seleccion === '/creencias') ? 'navegacion__link--active' : ''}`>NOSOTROS</a>
          <svg
            class="navegacion__icono"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="28"
            height="28"
            fill="rgba(136,136,136,1)"
          >
            <path
              d="M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z"
            ></path>
          </svg>
          <ul class="submenu">
            <li class="submenu_elemento prueba">
              <a href="/pastores">PASTORES</a>
            </li>
            <li class="submenu_elemento">
              <a href="/deaconos">DIÁCONOS</a>
            </li>
            <li class="submenu_elemento">
              <a href="/creencias">CREENCIAS</a>
            </li>
          </ul>
        </li>

        <li class="navegacion__item"><a class=`navegacion__link ${seleccion === '/predicas' ? 'navegacion__link--active' : ''}` href="/predicas">ENSEÑANZAS</a></li>
        <li class="navegacion__item"><a class=`navegacion__link ${seleccion === '/contacto' ? 'navegacion__link--active' : ''}` href= `${validacion}`>CONTACTO</a></li>
      </ul>
      <svg
        class="navegacion__bars"
        xmlns="http://www.w3.org/2000/svg"
        height="38"
        width="32"
        viewBox="0 0 448 512"
      >
        <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
        <path
          fill="#b4715b"
          d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"
        />
      </svg>
    </nav>
  </header>

  <style>
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Font size*/
  --font-size-xs: 0.9rem;
  --font-size-s: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /*Font weight*/
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /*Colores*/

  --primary-color: #b4715b;
  --btn-color: #a35e4e;
  --color_titulos: #3b3b3b;

  --color_texto: #363636;
  --gris_oscuro: #363636;
}

body,
html {
  font-family: "Poppins", serif;
  scroll-behavior: smooth;
}

/*------BARRA DE NAVEGACIÓN---------------*/
.navegacion {
  height: 96px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  box-shadow: 0 1px 2px var(--primary-color);
}
.navegacion__contenedor {
  width: 95%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
}
.navegacion__lista {
  display: flex;
  gap: 36px;
  height: 100%;
  align-items: center;
  list-style: none;
}
.navegacion__bars {
  display: none;
}
.navegacion__item {
  position: relative;
  font-size: 15px;
  height: 100%;
  display: flex;
  align-items: center;
}

.navegacion__item::after {
  content: "";
  width: 0;
  height: 4px;
  background-color: var(--primary-color);
  position: absolute;
  inset: 0;
  margin: auto;
  top: 35px;
  transition: width 0.2s linear;
}

.navegacion__item:hover .navegacion__link {
  color: var(--primary-color);
}

.navegacion__item:has(.navegacion__link--active)::after{
  width: 100%;
}

.navegacion__link.navegacion__link--active {
  color: var(--primary-color) !important;
}

.navegacion__item:hover::after {
  width: 100%;
}

.navegacion__item a {
  text-decoration: none;
  font-weight: var(--font-weight-semibold);
  color: var(--color_texto);
}

.navegacion__logo {
  width: 85px;
  margin-top: 5px;
}

.navegacion__cerrar {
  width: 16px;
  display: none;
  cursor: pointer;
}


/* .contenido__titulo :is(h3,p){
  
} */
/*NAVEGACIÓN - SUBMENU*/
.navegacion__item--posicion {
}
.navegacion__item--posicion:hover .submenu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.navegacion__icono {
  transition: transform 0.6s ease;
}
.navegacion__item--posicion:hover .navegacion__icono {
  transform: rotate(180deg);
}

.submenu {
  position: absolute;
  top: 96px;
  right: -110px;
  background-color: #f7f7f7;
  width: 220px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 4px 2px hsla(0, 0%, 0%, 0.2);
  display: none;
  opacity: 0;
  transform: translateY(-20px);
  transition: display 0.6s, opacity 0.3s ease, transform 0.3s ease;
  transition-behavior: allow-discrete;
}

.submenu_elemento {
  list-style: none;
  text-align: center;
  padding: 15px 0;
  height: 50%;
  line-height: 40px;
  border-radius: inherit;
  background-color: #f7f7f7;
}

.submenu li:nth-child(n) {
  box-shadow: 0 1px 4px #9e9e9e;
}
/* .submenu_elemento:first-child {
  box-shadow: 0 .5px 2px #9e9e9e;
  border-radius: 0;
} */
.submenu_elemento:last-child {
}

.submenu_elemento:hover {
  background-color: white;
  color: var(--primary-color);
}
.submenu_elemento:hover a {
  color: var(--primary-color);
}

@media (width<=850px) {
    :root {
      /*Font size*/
      --font-size-xs: 0.9rem;
      --font-size-s: 1rem;
      --font-size-m: 1rem;
      --font-size-l: 1.3rem;
      --font-size-xl: 1.5rem;
      --font-size-xxl: 1.8rem;
    }
  
    .navegacion__lista {
      position: fixed;
      top: 0;
      right: -300px;
      width: 300px;
      height: 100%;
      background-color: #f7f7f7;
      flex-direction: column;
      padding-top: 100px;
      gap: 45px;
      transition: top 0.6s ease, right 0.6s ease;
    }
  
    body.show-mobile-menu .navegacion__lista {
      right: 0;
      top: 0;
    }
  
    body.efecto header::before {
      content: "";
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      backdrop-filter: blur(5px);
      background: rgba(0, 0, 0, 0.3);
    }
  
    body.efecto .navegacion__logo {
      filter: blur(5px);
    }
  
    .navegacion__item {
      height: auto;
    }
  
    .navegacion__bars {
      display: block;
    }
  
    .navegacion__logo {
      width: 60px;
    }
    .navegacion__cerrar {
      width: 16px;
      display: block;
      position: absolute;
      top: 30px;
      right: 30px;
    }
    .submenu {
      position: absolute;
      top: 30px;
      right: -90px;
      background-color: #ffffff;
      width: 290px;
      height: 120px;
      z-index: 1;
      border-radius: 0;
      box-shadow: 0 1px 5px black;
    }
  
    .contenido__img {
    }
  
    .contenido__titulo {
      font-size: var(--font-size-l);
      top: 50px;
      left: 0;
    }
  }
  
  @media (width<=580px) {
    :root {
      /*Font size*/
      --font-size-xs: 0.8rem;
      --font-size-s: 0.9rem;
      --font-size-m: 1rem;
      --font-size-l: 1.1rem;
      --font-size-xl: 1.4rem;
      --font-size-xxl: 1.6rem;
    }
  
    .contenido__titulo {
      font-size: var(--font-size-xs);
      top: 30px;
      left: 0;
    }
    .banner__titulo {
      text-align: center;
    }
    .banner__parrafo {
      text-align: left;
    }
    .footer__informacion__texto {
      font-size: var(--font-size-s);
    }
  
    .formulario__btn {
      margin-inline: auto;
      display: block;
    }
  }
  
  @media (width<=453px) {
    .elemento__texto {
      text-align: left;
    }
  
    .elemento__texto strong {
      text-align: center;
      display: inline-block;
    }
  
    .footer {
      padding: 20px 60px;
    }
    .formulario__nombre,
    .formulario__correo {
      padding: 20px 80px 20px 5px;
  
      border: 1px solid var(--gris_oscuro);
    }
    .formulario__tema {
      padding: 20px 0 20px 5px;
      width: 90%;
    }
    .formulario_mensaje {
      width: 90%;
    }
  }
  </style>