---
import creencias from "../../public/img/fe.avif";
import pastores from "../../public/img/pastores.avif";
import seminario from "../../public/img/seminario.jpeg";
import iglesia from "../../public/img/imagen.jpeg";
import { Image } from "astro:assets";
---

<main class="contenido">
    <div class="contenido__portada">
      <Image src={iglesia} alt="Iglesia Bautista Nido de Gracia" loading="eager"  
      width={1905}  height={630} sizes="(max-width: 768px) 100vw, 50vw" class="contenido__img img-responsive" />
      <!-- <div class="contenido__img"></div> -->

      <article class="contenido__titulo">
        <h3>IGLESIA BAUTISTA NIDO DE GRACIA</h3>
        <p>
          SOLA SCRIPTURA - SOLA GRATIA - SOLA FIDE - SOLUS CHRISTUS - SOLI DEO
          GLORIA
        </p>
      </article>
    </div>

    <section class="banner">
      <article class="banner__texto">
        <h3 class="banner__titulo">¡BIENVENIDO A NUESTRA PÁGINA WEB!</h3>
        <p class="banner__parrafo">
          Bienvenidos a Iglesia Bautista Nido de Gracia. Somos una iglesia
          bautista reformada centrada en Cristo y abrazamos la confesión de Fe
          bautista de 1689.
        </p>
      </article>
    </section>

    <section class="categorias">
      <div class="categorias__lista">
        <div class="evangelismo">
          <h3>CREENCIAS</h3>
          <Image height={320} width={320} src={creencias} alt="Creencias de la iglesia" class="descripcion__img" loading="lazy"/> 
          
          <a
            href="/creencias"
            class="categorias__btn categorias__btn--evangelismo"
            >Leer más</a
          >
        </div>

        <div class="nosotros">
          <h3>CONÓCENOS</h3>
          <a href="/pastores">
            <Image height={320} width={320} src={pastores} alt="Pastores de la iglesia" class="descripcion__img" loading="lazy"/> 
          </a>

          <a href="/pastores" class="categorias__btn">Leer más</a>
        </div>

        <div class="seminario">
          <h3 class="seminario__titulo">SEMINARIO</h3>
          <a 
            rel="noopener noreferrer"
            target="_blank"
            href="https://facultadteologicabautista.org/"
          >
            <Image height={320} width={320} src={seminario} alt="Seminario teológico" class="descripcion__img" loading="lazy"/> 

          </a>

          <a
            rel="noopener noreferrer"
            target="_blank"
            class="categorias__btn categorias__btn--seminario"
            href="https://facultadteologicabautista.org/"
            >Visitar pagina</a
          >
        </div>
      </div>
    </section>

    <section class="informacion-general">
      <h2 class="informacion-general__titulo">Ubicación y horarios</h2>

      <div class="informacion-general__container">
        <div class="informacion-general__direccion">
          <h3>Planea tu visita</h3>

          <figure>
            <p><span> Escuela dominical:</span> domingo 9:00 am</p>
            <img
              class="informacion-general__iconos"
              src="/img/church.png"
              loading="lazy"
              alt="Escuela dominical"
            />
          </figure>

          <figure>
            <p><span>Culto de adoracion: </span> domingo 10:45am</p>
            <img
              class="informacion-general__iconos"
              src="/img/libro.png"
              loading="lazy"
              alt="Culto de adoración"
            />
          </figure>
          <figure>
            <p><span>Culto de oracion: </span> miércoles 4:00pm</p>
            <img
              class="informacion-general__iconos"
              src="/img/pray.png"
              loading="lazy"
              alt="Culto de oración"
            />
          </figure>
        </div>
        <div class="informacion-general__ubicacion">
          <iframe
            title="Ubicación de la iglesia"	
            class="informacion-general__google-maps"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15702.103888301663!2d-75.44640921366003!3d10.299725108943846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef6274cdf45953f%3A0x1b3cc25a743c46ed!2sFinca%20El%20Nido!5e0!3m2!1ses!2sco!4v1741015974796!5m2!1ses!2sco"
            height="400"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </section>

    <section class="descripcion">
      <h3 class="descripcion__titulo">
        Nuestro corazón late<br />
        por conocer a Jesús como:
      </h3>

      <div class="descripcion__elementos">
        <div class="descripcion__elemento">
          <svg
            class="descripcion__icono"
            xmlns="http://www.w3.org/2000/svg"
            height="64"
            width="52"
            viewBox="0 0 448 512"
          >
            <path
              d="M96 0C43 0 0 43 0 96L0 416c0 53 43 96 96 96l288 0 32 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l0-64c17.7 0 32-14.3 32-32l0-320c0-17.7-14.3-32-32-32L384 0 96 0zm0 384l256 0 0 64L96 448c-17.7 0-32-14.3-32-32s14.3-32 32-32zM208 80c0-8.8 7.2-16 16-16l32 0c8.8 0 16 7.2 16 16l0 48 48 0c8.8 0 16 7.2 16 16l0 32c0 8.8-7.2 16-16 16l-48 0 0 112c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-112-48 0c-8.8 0-16-7.2-16-16l0-32c0-8.8 7.2-16 16-16l48 0 0-48z"
            />
          </svg>
          <p class="elemento">Nuestro Santificador</p>
          <p class="elemento__texto">
            “Mas por Él estáis vosotros en Cristo Jesús, el cual nos ha sido
            hecho por Dios sabiduría, justificación, santificación y
            redención”<strong>1 Corintios 1:30</strong>
          </p>
        </div>
        <div class="descripcion__elemento">
          <svg
            class="descripcion__icono"
            xmlns="http://www.w3.org/2000/svg"
            height="64"
            width="52"
            viewBox="0 0 640 512"
          >
            <path
              d="M351.2 4.8c3.2-2 6.6-3.3 10-4.1c4.7-1 9.6-.9 14.1 .1c7.7 1.8 14.8 6.5 19.4 13.6L514.6 194.2c8.8 13.1 13.4 28.6 13.4 44.4l0 73.5c0 6.9 4.4 13 10.9 15.2l79.2 26.4C631.2 358 640 370.2 640 384l0 96c0 9.9-4.6 19.3-12.5 25.4s-18.1 8.1-27.7 5.5L431 465.9c-56-14.9-95-65.7-95-123.7L336 224c0-17.7 14.3-32 32-32s32 14.3 32 32l0 80c0 8.8 7.2 16 16 16s16-7.2 16-16l0-84.9c0-7-1.8-13.8-5.3-19.8L340.3 48.1c-1.7-3-2.9-6.1-3.6-9.3c-1-4.7-1-9.6 .1-14.1c1.9-8 6.8-15.2 14.3-19.9zm-62.4 0c7.5 4.6 12.4 11.9 14.3 19.9c1.1 4.6 1.2 9.4 .1 14.1c-.7 3.2-1.9 6.3-3.6 9.3L213.3 199.3c-3.5 6-5.3 12.9-5.3 19.8l0 84.9c0 8.8 7.2 16 16 16s16-7.2 16-16l0-80c0-17.7 14.3-32 32-32s32 14.3 32 32l0 118.2c0 58-39 108.7-95 123.7l-168.7 45c-9.6 2.6-19.9 .5-27.7-5.5S0 490 0 480l0-96c0-13.8 8.8-26 21.9-30.4l79.2-26.4c6.5-2.2 10.9-8.3 10.9-15.2l0-73.5c0-15.8 4.7-31.2 13.4-44.4L245.2 14.5c4.6-7.1 11.7-11.8 19.4-13.6c4.6-1.1 9.4-1.2 14.1-.1c3.5 .8 6.9 2.1 10 4.1z"
            />
          </svg>
          <p class="elemento">Nuestro Sanador</p>
          <p class="elemento__texto">
            “Y la oración de fe salvará al enfermo, y el Señor lo levantará; y
            si hubiere cometido pecados, le serán perdonados”<strong
              >Santiago 5:15</strong
            >
          </p>
        </div>
        <div class="descripcion__elemento">
          <svg
            class="descripcion__icono"
            xmlns="http://www.w3.org/2000/svg"
            height="64"
            width="52"
            viewBox="0 0 448 512"
          >
            <path
              d="M352 64A64 64 0 1 0 224 64a64 64 0 1 0 128 0zM232.7 264l22.9 31.5c6.5 8.9 16.3 14.7 27.2 16.1s21.9-1.7 30.4-8.7l88-72c17.1-14 19.6-39.2 5.6-56.3s-39.2-19.6-56.3-5.6l-55.2 45.2-26.2-36C253.6 156.7 228.6 144 202 144c-30.9 0-59.2 17.1-73.6 44.4L79.8 280.9c-20.2 38.5-9.4 85.9 25.6 111.8L158.6 432 72 432c-22.1 0-40 17.9-40 40s17.9 40 40 40l208 0c17.3 0 32.6-11.1 38-27.5s-.3-34.4-14.2-44.7L187.7 354l45-90z"
            />
          </svg>
          <p class="elemento">Nuestro Rey que viene</p>
          <p class="elemento__texto">
            "Este mismo Jesús, que ha sido tomado de vosotros al cielo, vendrá
            otra vez de la misma manera que lo han visto ir al cielo"<strong
              >Hechos 1:11b</strong
            >
          </p>
        </div>
      </div>
    </section>
  </main>

  <style>
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Font size*/
  --font-size-xs: 0.9rem;
  --font-size-s: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /*Font weight*/
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /*Colores*/

  --primary-color: #b4715b;
  --btn-color: #a35e4e;
  --color_titulos: #3b3b3b;

  --color_texto: #363636;
  --gris_oscuro: #363636;
}

body,
html {
  font-family: "Poppins", serif;
  scroll-behavior: smooth;
}
    /* ESTILOS DEL BANNER*/
.banner {
  height: auto;
  min-width: 375px;
  min-height: 180px;
  background-color: #faf5f2;
  color: var(--color_titulos);
  text-align: center;
  box-shadow: 0 5px #d3b19e;
  display: flex;
  align-items: center;
  padding: 15px;
}

.banner__texto {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  gap: 15px;
  overflow: hidden;
}

.banner__titulo {
  font-size: var(--font-size-l);
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  transition: clip-path 0.5s linear;
  @starting-style {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
}

.banner__parrafo {
  font-size: var(--font-size-m);
  transform: translateX(0);
  color: var(--color_texto);
  transition: transform.5s 0.5s ease;
  @starting-style {
    transform: translateX(200%);
  }
}

.contenido__portada {
  position: relative;
}

.contenido {
  margin-top: 96px;
}


.contenido__titulo {
  text-align: center;
  font-size: var(--font-size-xl);
  position: absolute;
  inset: 0;
  top: 20px;
  color: #faf5f2;
  text-shadow: 0 5px 25px black;
}

.img-responsive {
  width: 100%;
  height: auto;
  display: block;
}

.contenido__img {
  aspect-ratio: 16/9;
  display: block;
  max-height: 630px;
  object-fit: cover;
  object-position: 0 30%;
}
.contenido__portada::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg,rgba(0, 0, 0, 0.6) 10%,rgba(242, 233, 226, 0) 47%
  );
}


/* ESTILOS DE DESCRIPCION*/

.categorias {
  padding: 0.1px;
  padding: 64px 70px;
}



.categorias__lista {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  text-align: center;
}

.categorias__lista h3 {
  font-size: var(--font-size-l);
  color: var(--color_titulos);
  margin-bottom: 20px;
}

.categorias__btn {
  margin-top: 20px;
  padding: 15px 100px;
  border-radius: 8px;
  border: 2px solid var(--btn-color);
  background-color: var(--btn-color);
  color: white;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  margin-top: 18px;
  transition: 0.4s ease;
}
.categorias__btn:hover {
  background-color: white;
  color: var(--btn-color);
}

.categorias__btn:active {
  background-color: #9a5345;
}

.categorias__btn--seminario {
  background-color: white;
  color: var(--btn-color);
  font-weight: var(--font-weight-semibold);
  border: 2px solid var(--btn-color);
  padding: 15px 75px;
  transition: 0.4s ease;
}

.categorias__btn--seminario:hover {
  background-color: var(--btn-color);
  color: white;
}

.seminario {
  margin: 20px 0;
}
.evangelismo {
  margin: 20px 0;
}
.nosotros {
  margin: 20px 0;
}

.descripcion__img {
  aspect-ratio: 1;
  object-fit: cover;
  max-width: 320px;
  min-width: 250px;
  border-radius: 5px;
  box-shadow: 0 1px 5px var(--color_titulos);
  transition: transform 0.6s ease;
  display: block;
  margin: 20px auto;
  cursor: pointer;
}

.descripcion__img:hover {
  transform: scale(1.05) translateY(-5px);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--primary-color); */
}

.descripcion {
  padding: 64px 50px;
}

.descripcion__titulo {
  text-align: center;
  font-size: var(--font-size-xl);
  margin-bottom: 70px;
  color: var(--color_titulos);
}

.descripcion__elementos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: auto;
  padding: 20px 25px;
  text-align: center;
  flex-wrap: wrap;
}

.descripcion__elemento {
  max-width: 410px;
}

.elemento {
  color: var(--color_titulos);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-m);
  margin: 15px 0;
}

.elemento__texto {
  font-size: var(--font-size-m);
  color: var(--color_texto);
  text-wrap: wrap;
}
.elemento__texto strong {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
  display: block;
  color: #363636;
}

.descripcion__icono {
  fill: #a35e4e;
  cursor: pointer;
  transition: transform 0.3s linear;
  transform: translateY(0);
  opacity: 1;
}

.descripcion__elemento:hover .descripcion__icono {
  fill: #d3b19e;
  transform: translateY(-20%) scale(1.05);
}

/*INFORMACIÓN GENERAL*/

.informacion-general {
  background-color: #faf5f2;
  padding: 64px 50px
}

.informacion-general__titulo {
  text-align: center;
  color: var(--color_titulos);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

.informacion-general__container {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 90px;
  justify-content: center;
}


.informacion-general__direccion {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--color_titulos);
  align-items: start;
  justify-content: center;
}

.informacion-general__direccion p {
  color: var(--color_texto);
}

.informacion-general__direccion h3 {
  font-size: var(--font-size-l);
  margin: 15px 0;
  color: var(--color_titulos);
  align-self: center;
}

/* .informacion-general__direccion figure:first-of-type{

} */

.informacion-general__direccion figure {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

.informacion-general__direccion p {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semibold);
}

.informacion-general__ubicacion h3 {
  color: var(--color_titulos);
  text-align: center;
  margin-bottom: 15px;
  font-size: var(--font-size-l);
}

.informacion-general__ubicacion {
  text-align: center;
  width: 35%;
  min-width: 370px;
}

.informacion-general__google-maps {
  aspect-ratio: 16/9;
  max-width: 600px;
  width: 90%;
  min-width: 300px;
  box-shadow: 0 2px 5px var(--gris_oscuro);
  margin-inline: auto;
}

.informacion-general__iconos {
  width: 45px;
}

span {
  font-weight: var(--font-weight-semibold);
  color: #363636;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-normal);
}

@media (width<=850px) {
    :root {
      /*Font size*/
      --font-size-xs: 0.9rem;
      --font-size-s: 1rem;
      --font-size-m: 1rem;
      --font-size-l: 1.3rem;
      --font-size-xl: 1.5rem;
      --font-size-xxl: 1.8rem;
    }
  
    .navegacion__lista {
      position: fixed;
      top: 0;
      right: -300px;
      width: 300px;
      height: 100%;
      background-color: #f7f7f7;
      flex-direction: column;
      padding-top: 100px;
      gap: 45px;
      transition: top 0.6s ease, right 0.6s ease;
    }
  
    body.show-mobile-menu .navegacion__lista {
      right: 0;
      top: 0;
    }
  
    body.efecto header::before {
      content: "";
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      backdrop-filter: blur(5px);
      background: rgba(0, 0, 0, 0.3);
    }
  
    body.efecto .navegacion__logo {
      filter: blur(5px);
    }
  
    .navegacion__item {
      height: auto;
    }
  
    .navegacion__bars {
      display: block;
    }
  
    .navegacion__logo {
      width: 60px;
    }
    .navegacion__cerrar {
      width: 16px;
      display: block;
      position: absolute;
      top: 30px;
      right: 30px;
    }
    .submenu {
      position: absolute;
      top: 30px;
      right: -90px;
      background-color: #ffffff;
      width: 290px;
      height: 120px;
      z-index: 1;
      border-radius: 0;
      box-shadow: 0 1px 5px black;
    }
  
    .contenido__img {
      
    }
  
    .contenido__titulo {
      font-size: var(--font-size-l);
      top: 50px;
      left: 0;
    }
  }
  
  @media (width<=580px) {
    :root {
      /*Font size*/
      --font-size-xs: 0.8rem;
      --font-size-s: 0.9rem;
      --font-size-m: 1rem;
      --font-size-l: 1.1rem;
      --font-size-xl: 1.4rem;
      --font-size-xxl: 1.6rem;
    }
  
    .contenido__titulo {
      font-size: var(--font-size-xs);
      top: 30px;
      left: 0;
    }
    .banner__titulo {
      text-align: center;
      font-size: var(--font-size-m);
    }
    .banner__parrafo {
      text-align: left;
      font-size: var(--font-size-n);
    }
    .footer__informacion__texto {
      font-size: var(--font-size-s);
    }
  
    .formulario__btn {
      margin-inline: auto;
      display: block;
    }
  }
  
  @media (width<=453px) {
    .elemento__texto {
      text-align: left;
    }
  
    .elemento__texto strong {
      text-align: center;
      display: inline-block;
    }
  
    .footer {
      padding: 20px 60px;
    }
    .formulario__nombre,
    .formulario__correo {
      padding: 20px 80px 20px 5px;
  
      border: 1px solid var(--gris_oscuro);
    }
    .formulario__tema {
      padding: 20px 0 20px 5px;
      width: 90%;
    }
    .formulario_mensaje {
      width: 90%;
    }
  }
  </style>