---
import creencias from "@/assets/img/fe.avif";
import pastores from "@/assets/img/pastores.avif";
import seminario from "@/assets/img/seminario.jpeg";
import iglesia from "@/assets/img/imagen.avif";
import { Image } from "astro:assets";
import BibliaSVG from "@/components/SVG/BibliaSVG.astro";
import ManosSVG from "@/components/SVG/ManosSVG.astro";
import Oracion from "@/components/SVG/OracionSVG.astro";
import MapaIglesia from "@/components/MapaIglesia.astro";
import Elemento from "@/components/Elemento.astro";
import confesion from "@/assets/img/confesion.png";
import "@/styles/mainContent.css";
---

<main class="contenido">
    <div class="contenido__portada">
      <Image src={iglesia} alt="Iglesia Bautista Nido de Gracia" loading="eager"  
      width={1905}  height={630} sizes="(max-width: 768px) 100vw, 50vw" class="contenido__img img-responsive" />
      <!-- <div class="contenido__img"></div> -->

      <article class="contenido__titulo">
        <h3>IGLESIA BAUTISTA NIDO DE GRACIA</h3>
        <p>
          SOLA SCRIPTURA - SOLA GRATIA - SOLA FIDE - SOLUS CHRISTUS - SOLI DEO
          GLORIA
        </p>
      </article>
    </div>

    <section class="banner">
      <article class="banner__texto">
        <h3 class="banner__titulo">¡BIENVENIDO A NUESTRA PÁGINA WEB!</h3>
        <p class="banner__parrafo">
          Bienvenidos a Iglesia Bautista Nido de Gracia. Somos una iglesia
          bautista reformada centrada en Cristo y abrazamos la confesión de Fe
          bautista de 1689.
        </p>
      </article>
    </section>

    <section class="categorias">
      <div class="categorias__lista">
        <div class="evangelismo">
          <h3>CREENCIAS</h3>
          <a href="/creencias/">
            <Image transition:name="confesion" height={320} width={320} src={confesion} alt="Creencias de la iglesia" class="descripcion__img" loading="lazy"/> 
          </a>
          <a
            href="/creencias/"
            class="categorias__btn categorias__btn--evangelismo"
            >Leer más</a
          >
        </div>

        <div class="nosotros">
          <h3>CONÓCENOS</h3>
          <a href="/pastores/">
            <Image height={320} width={320} src={pastores} alt="Pastores de la iglesia" class="descripcion__img" loading="lazy"/> 
          </a>

          <a href="/pastores/" class="categorias__btn">Leer más</a>
        </div>

        <div class="seminario">
          <h3 class="seminario__titulo">SEMINARIO</h3>
          <a 
            rel="noopener noreferrer"
            target="_blank"
            href="https://facultadteologicabautista.org/"
          >
            <Image height={320} width={620} src={seminario} alt="Seminario teológico" class="descripcion__img" loading="lazy"/> 

          </a>

          <a
            rel="noopener noreferrer"
            target="_blank"
            class="categorias__btn categorias__btn--seminario"
            href="https://facultadteologicabautista.org/"
            >Visitar pagina</a
          >
        </div>
      </div>
    </section>

    <section class="informacion-general">
      <h2 class="informacion-general__titulo">Ubicación y horarios</h2>

      <div class="informacion-general__container">
        <div class="informacion-general__direccion">
          <h3>Planea tu visita</h3>

          <figure>
            <p><span> Escuela dominical:</span> domingo 9:00 am</p>
            <img
              class="informacion-general__iconos"
              src="/img/church.webp"
              loading="lazy"
              alt="Escuela dominical"
            />
          </figure>

          <figure>
            <p><span>Culto de adoracion: </span> domingo 10:45am</p>
            <img
              class="informacion-general__iconos"
              src="/img/libro.webp"
              loading="lazy"
              alt="Culto de adoración"
            />
          </figure>
          <figure>
            <p><span>Culto de oracion: </span> miércoles 4:00pm</p>
            <img
              class="informacion-general__iconos"
              src="/img/pray.webp"
              loading="lazy"
              alt="Culto de oración"
            />
          </figure>
        </div>
        <div class="informacion-general__ubicacion">
          <MapaIglesia class="informacion-general__google-maps" />
        </div>
      </div>
    </section>

    <section class="descripcion">
      <h3 class="descripcion__titulo">
        Nuestro corazón late<br />
        por conocer a Jesús como:
      </h3>

      <div class="descripcion__elementos">

        <Elemento titulo = "Nuestro Santificador">
           <BibliaSVG slot="icono"/>
          “Mas por Él estáis vosotros en Cristo Jesús, el cual nos ha sido
            hecho por Dios sabiduría, justificación, santificación y
            redención”<strong>1 Corintios 1:30</strong> 
        </Elemento>
       
        <Elemento titulo = "Nuestro Sanador">
          <ManosSVG slot="icono"/>
            “Y la oración de fe salvará al enfermo, y el Señor lo levantará; y
            si hubiere cometido pecados, le serán perdonados”<strong
              >Santiago 5:15</strong>
        </Elemento>

        <Elemento titulo = "Nuestro Rey que viene">
          <Oracion slot="icono"/>
            "Este mismo Jesús, que ha sido tomado de vosotros al cielo, vendrá
            otra vez de la misma manera que lo han visto ir al cielo"<strong
              >Hechos 1:11b</strong>
        </Elemento>
      </div>
    </section>
  </main>
