---
import "@/styles/global.css";
import Header from "@/sections/Header.astro";
import Footer from "@/sections/Footer.astro";
// import { ClientRouter } from "astro:transitions";

const { title = "Iglesia Nido de Gracia" } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/img/logo2.png">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <meta name="title" content="Iglesia Bautista Reformada Nido de Gracia" />
    <meta name="description" content="Nido de Gracia es una iglesia cristiana que comparte el mensaje de fe, esperanza y amor en Jesucristo. Descubre quiénes somos y lo que creemos.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://nidodegracia.org" />
    <meta property="og:title" content="Iglesia Bautista Reformada Nido de Gracia" />
    <meta property="og:description" content="Nido de Gracia es una iglesia cristiana que comparte el mensaje de fe, esperanza y amor en Jesucristo. Descubre quiénes somos y lo que creemos." />
    <meta property="og:image" content="https://metatags.io/images/meta-tags.png" />

    <!-- X (Twitter) -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://nidodegracia.org" />
    <meta property="twitter:title" content="Iglesia Bautista Reformada Nido de Gracia" />
    <meta property="twitter:description" content="Nido de Gracia es una iglesia cristiana que comparte el mensaje de fe, esperanza y amor en Jesucristo. Descubre quiénes somos y lo que creemos." />
	</head>
	<body>
		<Header />
		<slot />
    <Footer />
    <script src="../utils/mobile-menu.js"></script>
	</body>
</html>