---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/img/logo2.png">
    <meta charset="UTF-8" />
		<meta name="generator" content={Astro.generator} />
		<title>Iglesia Nido de Gracia</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
   	 <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    
	  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"/>
	<script
      src="https://kit.fontawesome.com/fbcd9eb844.js"
      crossorigin="anonymous"
    ></script>
    <meta name="title" content="Iglesia Nido de Gracia" />
    <meta name="description" content="Nido de Gracia es una iglesia cristiana que comparte el mensaje de fe, esperanza y amor en Jesucristo. Descubre quiénes somos y lo que creemos.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://danilo.com.co/" />
    <meta property="og:title" content="Iglesia Nido de Gracia" />
    <meta property="og:description" content="Nido de Gracia es una iglesia cristiana que comparte el mensaje de fe, esperanza y amor en Jesucristo. Descubre quiénes somos y lo que creemos." />
    <meta property="og:image" content="https://metatags.io/images/meta-tags.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://danilo.com.co/" />
    <meta property="twitter:title" content="Iglesia Nido de Gracia" />
    <meta property="twitter:description" content="Nido de Gracia es una iglesia cristiana que comparte el mensaje de fe, esperanza y amor en Jesucristo. Descubre quiénes somos y lo que creemos." />
    <meta property="twitter:image" content="https://metatags.io/images/meta-tags.png" />
	</head>
	<body>
		<Header />
		<slot />
	
    <script src="../script.js"></script>
	</body>
</html>


<style is:inline>
	* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Font size*/
  --font-size-xs: 0.9rem;
  --font-size-s: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /*Font weight*/
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /*Colores*/

  --primary-color: #b4715b;
  --btn-color: #a35e4e;
  --color_titulos: #3b3b3b;

  --color_texto: #363636;
  --gris_oscuro: #363636;
}
@view-transition{
    navigation: auto;
}
body,
html {
  font-family: "Poppins", serif;
  scroll-behavior: smooth;
}

</style>
