---
import "./Banner.css"
--- 
 
 <section class="banner">
      <article class="banner__texto">
        <h3 class="banner__titulo">¡BIENVENIDO A NUESTRA PÁGINA WEB!</h3>
        <p class="banner__parrafo">
          Bienvenidos a Iglesia Bautista Nido de Gracia. Somos una iglesia
          bautista reformada centrada en Cristo y abrazamos la confesión de Fe
          bautista de 1689.
        </p>
      </article>
    </section>